// Star
// -------------------------
$star-rating-color                      : $light-gray !default;
$star-rating-active-color               : $theme-color !default;
$star-rating-font-size                  : 10px !default;

// Sale
// -------------------------
$sale-label-font-size                   : 10px !default;
$sale-label-font-weight                 : 900 !default;
$sale-label-transform                   : uppercase !default;
$sale-label-bg                          : #df5050 !default;
$sale-label-color                       : $white !default;
$sale-label-align                       : $align-center !default;
$sale-label-padding                     : 4px 12px !default;

// Mini cart
// -------------------------
$mini-cart-font-size                    : 12px !default;
$mini-cart-bg                           : $theme-color-secondary !default;
$mini-cart-rounded                      : $border-radius-small !default;
$mini-cart-padding                      : 8px 13px !default;
$mini-cart-height                       : 36px !default;
$mini-cart-color                        : $black !default;
$mini-cart-dropdown-size                : 280px !default;
$mini-cart-transform                    : uppercase !default;

// Filter
// -------------------------
$filter-margin                          : 0 0 30px 0 !default;
$filter-padding                         : 13px 0 !default;
$filter-border                          : 2px solid $border-color !default;
$filter-icon-font-size                  : 14px !default;
$filter-font-size                       : 13px !default;

// Product
// -------------------------
$product-bg                             : transparent !default;
$product-border                         : 1px solid transparent !default;
$product-margin                         : 0 0 40px 0 !default;
$product-padding                        : 0 0 20px 0 !default;
$product-alignment                      : center !default;
$product-name-font-size                 : 14px !default;
$product-name-font-weight               : 700 !default;
$product-name-line-height               : 18px !default;
$product-name-color                     : $black !default;
$product-name-margin                    : 0px !default;
$product-name-height                    : 36px !default;
$product-name-hover-color               : $theme-color !default;
$product-name-transform                 : none !default;
$product-name-max-height                : 36px !default;
$product-category-color                 : $light-gray !default;
$product-category-hover-color           : $theme-color !default;
$product-category-font-size             : 12px !default;
$product-category-bg                    : $white !default;
$product-category-padding               : 18px 10px !default;
$product-category-border-color          : transparent !default;
$product-category-border-hover-color    : $border-color !default;
$product-category-font-weight           : 300 !default;
$product-category-font-style            : italic !default;
$product-category-margin                : 0px 0 8px !default;
$product-price-color                    : $theme-color !default;
$product-price-old-color                : $text-color !default;
$product-price-font-size                : 18px !default;
$product-button-font-size               : 10px !default;
$product-button-border                  : 2px solid $border-color !default;
$product-button-bg                      : $white !default;
$product-button-padding                 : 0 !default;
$product-button-hover-color             : $white !default;
$product-button-hover-border            : $theme-color !default;
$product-button-hover-bg                : $theme-color !default;
$product-link-color                     : $black !default;
$product-link-hover-color               : $theme-color !default;
$product-icon-width                     : 69px !default;
$product-icon-height                    : 40px !default;
$product-icon-bg                        : $white !default;
$product-icon-color                     : $text-color !default;
$product-icon-font-size                 : 14px !default;
$product-button-width                   : 103px !default;
$product-rating-margin                  : 0 0 $theme-margin 0 !default;
$product-thumbnail-gallery-size         : 80px !important;

// Single Product
// -------------------------
$single-price-font-weight               : 900 !default;
$single-new-price-color                 : $theme-color !default;
$single-new-price-font-size             : 36px !default;
$single-new-price-font-weight           : $font-weight-base !default;
$single-new-price-line-height           : 2.2222 !default;
$single-product-title-line-height       : 1.11111 !default;
$single-product-title-font-size         : 36px !default;
$single-product-title-font-weight       : 900 !default;
$single-product-title-margin            : 0 0 20px 0 !default;
$single-product-title-transform         : capitalize !default;

// woocommerce tabs
// -------------------------
$woocommerce-tabs-padding               : 30px !default;
$woocommerce-tabs-border                : 1px solid $border-color !default;
$woocommerce-tabs-margin                : 0 0 30px 0 !default;

// Quickview Product
// -------------------------
$quickview-product-title-font-size      : 30px !default;
$quickview-product-title-transform      : none !default;
$quickview-product-content-margin       : 20px !default;

// Widget Product
// -------------------------
$widget-product-list-size               : 90px !default;
$widget-product-list-padding            : 20px 0 !default;
$widget-product-list-margin             : 0px !default;
$widget-product-list-border             : 1px dotted #d3d3d3 !default;
$widget-product-list-font-size          : 14px !default;
$widget-product-list-font-weight        : 800 !default;
$widget-product-list-transform          : capitalize !default;
$widget-product-list-price-font-size    : 18px !default;
$widget-product-list-name-margin        : 0px 0 6px !default;

// Sidebar Widget Product
// -------------------------
$block-sidebar-widget-product-list-size : 70px !default;

// Product Category and Subcategory
// -------------------------
$product-category-content-margin        : 0 0 $grid-gutter-width 0;
$product-category-content-height        : 45px !default;
$product-category-title-color           : $white !default;
$product-category-title-margin          : 0 !default;
$product-category-title-padding         : 15px 10px !default;
$product-category-title-bg              : $black !default;
$product-category-title-font-size       : $font-size-base !default;
$product-category-title-font-weight     : $font-weight-base !default;